.button {
  background-color: $accent;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  font-size: 21px;
  line-height: 26px;
  border: none;
}

.form__button {
  margin-bottom: 40px;
}
