.page-footer {
  background-color: $white;
  padding: 39px 0 26px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 0 60px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.city-tag__text {
  font-size: 21px;
  line-height: 26px;
}

.social__list {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 34px 0 40px;
}

.social__item {
  margin-right: 6px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  background-color: $accent;
  padding: 16px 14px;
}

.copyright__wrapper {
  display: flex;
}

.copyright__title {
  text-transform: uppercase;
  margin: 0;
  font-size: 14px;
  line-height: 26px;
}
