.advantage--aditional {
  display: inherit;
}

.advantage__list {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: $body-color;
  text-align: center;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.advantage-list__item {
  padding: 25px 0 24px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 280px;
    height: 1px;
    margin-top: 24px;
    left: 10px;
    background-color: $list-decoration;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &:nth-last-child(1)::after {
    display: none;
  }
}

.advantage__item-title {
  font-size: 18px;
  margin: 0;
}

.advantage__item-number,
.advantage__item-description {
  color: $dark-grey;
  margin: 0;
}

.advantage__item-description {
  line-height: 15px;
}
