.advantage__list {
  background-color: $body-color;
}

.advantage-list__item {
  padding: 25px 0 24px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 280px;
    height: 1px;
    margin-top: 24px;
    background-color: $list-decoration;
  }

  &:nth-last-child(1)::after {
    display: none;
  }
}

.advantage__item-number,
.advantage__item-description {
  color: $dark-grey;
}

.advantage__item-description {
  line-height: 15px;
}
