.main-nav {
  background: $white;
}

.main-nav__toogle {
  border: none;
  background: transparent;
}

.site-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-list__link {
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
}
