@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"),
    local("PTSans-Regular"),
    url("../../fonts/ptsans.woff2") format("woff2"),
    url("../../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src:local("PT Sans Bold"),
    local("PTSans-Bold"),
    url("../../fonts/ptsansbold.woff2") format("woff2"),
    url("../../fonts/ptsansbold.woff2.woff") format("woff");
}
