.page__body {
  background-color: $body-color;
  font-family: $main-font;
}

a {
  text-decoration: none;
  color: $black;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

.button {
  background-color: $accent;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  font-size: 21px;
  line-height: 26px;
  border: none;
}
