// Colors
$black: #000000;
$white: #ffffff;
$dark-grey:#333333;
$list-decoration: #d6d6d6;
$body-color: #eeeeee;
$accent: #81b3d2;

// Image background
$logo-background: #491213;
$welcome-image-background: #ab6f65;
$advantage-image-background: #f2ac92;
$map-background: #cbe0a2;
$galery-image-background: #491213;
$video-background: #8b9d09;

// Font
$main-font: "PT Sans", "Arial", sans-serif;

// Menu colors

$menu-down: rgba(#000000, 0.3%);
$menu-active: #766357;
$menu-active-hover: #604e43;
$menu-active-down: rgba(#766357, 0.3%);
$menu-icon-hover: rgba(#81b3d2, 0.6%);
$menu-icon-down: rgba(#81b3d2, 0.3%);

// Buttons
$button-background-hover: #669ec0;
$button-background-down: #5496bd;
$button-background-disabled: #e5e5e5;
$button-text-hover: rgba(#ffffff, 0.6%);
$button-text-down: rgba(#ffffff, 0.3%);
$academy-logo-down: rgba(#000000, 0.3%);
$replay-default: #5c6870;

// Inputs
$input-background: #f2f2f2;
$input-background-hover: #e5e5e5;
$input-background-down: #d5d5d5;
$input-sign-down: rgba(#333333, 0.3%);
